{%extends 'base.html' %}
{%load static %}
{%block content %}
<div class="container-fluid bg-light text-center">
  <div class="text-center">
    <img
      src="{% static 'img/menu-logo.png' %}"
      alt="Logo of Voter's Portal"
      width="25%"
      style="padding-bottom: 25px"
    />
    <h1>Please Select a language</h1>

    <!-- Eng/Fil Button -->
    <div
      class="btn-group btn-group-lg"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio1"
        autocomplete="off"
        checked
      />
      <label class="btn btn-outline-primary" for="btnradio1"
        >English</label
      >

      <input
        type="radio"
        class="btn-check"
        name="btnradio"
        id="btnradio2"
        autocomplete="off"
      />
      <label class="btn btn-outline-primary" for="btnradio2"
        >Filipino</label
      >
    </div>
    <!-- End of Eng/Fil Button -->
  </div>
</div>
{%endblock%}