{%extends 'base.html' %}
{%load static %}
{%block content %}
<div class="container">
  <div class="card shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row border">
        <div class="container text-center mt-3">
          <img
            src="{%static 'img/logo_dark.png'%}"
            alt="Logo of Voter's Portal"
            width="25%"
          />
          <h1 class="h2 pt-3 text-gray-900 text-center">Create an Account</h1>
        </div>
        
        <!-- Left Side -->
        <div class="col-lg-6 px-5">
          <!-- Name -->
          <form>
            <div class="mb-3">
              <label for="exampleInputfirstName1" class="form-label"
                >First Name</label
              >
              <input
                type="text"
                class="form-control"
                id="InputfirstName1"
                onchange="autofillUser()"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputMidName1" class="form-label"
                >Middle Name</label
              >
              <input
                type="text"
                class="form-control"
                id="InputMidName1"
                onchange="autofillUser()"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputlastName1" class="form-label"
                >Last Name</label
              >
              <input
                type="text"
                class="form-control"
                id="InputlastName1"
                onchange="autofillUser()"
              />
            </div>
            <!-- End of Name -->

            <!-- Address -->
            <h3 class="mt-5 fst-italic">Address</h3>
            <div class="mb-3">
              <label for="exampleInputStreet1" class="form-label"
                >Street</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputStreet1"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputBarangay1" class="form-label"
                >Barangay</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputBarangay1"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputMunicipalityCity1" class="form-label"
                >Municipality/City</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputMunicipalityCity1"
              />
            </div>
            <div class="mb-4">
              <label for="exampleInputProvince1" class="form-label"
                >Province</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputProvince1"
              />
            </div>
          </form>
          <!-- End of Address -->
        </div>
        <!-- End of Left Side-->

        <!-- Right Side -->
        <div class="col-lg-6 px-5">
          <!-- Voter's ID & Precinct Number -->
          <h3 class="mt-5 fst-italic">Voter's Information</h3>
          <form>
            <div class="mb-3">
              <label for="exampleInputVotersID1" class="form-label"
                >Voter's ID</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputVotersID1"
                readonly
              />
            </div>
            <div class="mb-4 pb-4">
              <label for="exampleInputPrecinctNumber1" class="form-label"
                >Precinct Number</label
              >
              <input
                type="text"
                class="form-control"
                id="exampleInputPrecinctNumber1"
                readonly
              />
            </div>
            <!-- End of Voter's ID & Precinct Number -->

            <div style="height: 14px"></div>
            <!-- Account Details -->
            <h3 class="mt-4 pt-5 fst-italic">Account Details</h3>
            <div class="mb-3">
              <label for="exampleAutoUsername1" class="form-label"
                >Username</label
              >
              <input 
                type="text"
                class="form-control"
                id="AutoUsername1"
                readonly
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >Email</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputRetypePassword1" class="form-label"
                >Retype Password</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleInputRetypePassword1"
              />
            </div>
          </form>
          <!-- End of Account Details -->
        </div>
        <!-- End of Right Side-->
        <div class="container py-4 text-center">
          <div class="mb-3 form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >I agree that all information entered are true and anything
              entered can be used against me for anything related to the
              account</label
            >
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- createAcc autofill for Username -->
<script>
  function autofillUser(){
    var fn = document.getElementById('InputfirstName1').value;
    var mn = document.getElementById('InputMidName1').value;
    var ln = document.getElementById('InputlnName1').value;

    let user = fn.charAt(0)+mn.charAt(0)+ln;
    document.getElementById('AutoUsername1') = toLowerCase(user);
  }

</script>

{% endblock %}