{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
        <title>Voter's Portal</title>
    </head> 
    <body>
        {% include 'nav.html' %}
        <div class="topbar"><button class="hamburg nav" onclick="openNav()"><div class=""></div></button></div>
        <h1>Hello World</h1>
    </body>
    <style>
        .nav{
            background-image: url("{% static 'img/navbutton.png' %}");
            background-size: cover;
            display: block;
            border:0;
            margin:10px;
        }
    </style>
</html>