{%load static %}
{{ redirect_to_login_immediately }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Voter's Portal</title>

    <!-- Bootstrap -->
    <link
      href="{% static 'css/bootstrap.min.css' %}"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="{% static 'js/bootstrap.bundle.min.js'%}"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Custom scripts for editable table in this page -->
    <script
      src="{% static 'js/popper.min.js'%}"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
    <script
      src="{% static 'js/bootstrap.min.js' %}"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'vendor/bootstrap/js/bootstable.js'%}"></script>

    <!-- Custom fonts for this template-->
    <link
      href="{% static 'vendor/fontawesome-free/css/all.min.css'%}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css'%}" rel="stylesheet" />
    <link href="{% static 'css/sb-admin-2.min.css'%}" rel="stylesheet" />
    <link href="{% static 'vendor\fontawesome-free\css\fontawesome.min.css'%}" rel="stylesheet" />
  </head>
  <body>
      <!-- navbar -->
      {% if user.is_authenticated %}
        {%if user.is_voter%}
          {%include 'navbar_loggedin.html'%}
        {%else%}
        {%include 'navbar_admin.html'%}
        {%endif%}
      {% else %}
        {%include 'navbar_loggedout.html'%}
      {%endif %}
      {%block content %}
      <div class="container-fluid bg-light">
        <!-- 404 Error Text -->
        <div class="text-center">
          <img
            src="{%static 'img/logo_dark.png'%}"
            alt="Logo of Voter's Portal"
            width="30%"
            style="padding-bottom: 25px"
          />
          <p class="lead text-gray-800 mb-5">
            Welcome to the Voter's Portal!
          </p>
          <p class="text-gray-500 mb-0">
            a webapp to help you schedule your voting time smartly
          </p>
          <p class="text-gray-500 mb-0">
            Open the menu to start navigating!
          </p>
        </div>
      </div>

      <!-- /.container-fluid -->
      {%endblock%}
      
  
  {%include 'footer.html'%}
</body>

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
   
  </html>